# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Django
*.log
*.pot
*.py[cod]
*.db

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Frontend backup ignore
frontend/node_modules/
frontend/build/
frontend/dist/